:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  padding: 0;
  color-scheme: light dark;

  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  inset: 0; // use the entire dimensions
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(12px);
  z-index: -1;
}

  // Main
.main{

  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1cqh 4cqw;
}   

  /* Products */
.products__list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.product {
  height: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;

  border-radius: 15px;

  &__details {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Playfair Display", sans-serif;
    padding: 1.5rem;
    gap: 0.8rem;

    &-name{
      font-size: 2.3rem;
      text-align: left;
      font-family: "Bebas Neue", sans-serif;
    }

    &-reviews{
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-rating{
      transform: translate(-16px) scale(0.75);
      .MuiRating-iconEmpty{
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  transition: all 0.3s ease-in-out;
  &:hover{
    transform: scale(1.1);
  }
}

@media(max-width: 1000px){
  .products__list{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width: 810px){
  .products__list{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 580px){
  .products__list{
    grid-template-columns: 0.9fr;
  }
}