:root {
  line-height: 1;
  font-weight: 400;
  color-scheme: light dark;

  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgb(207, 187, 153);
  --secondary-color: rgb(118, 90, 21);
  --stars-color: rgb(243, 177, 36);

  --black-color--background: rgb(0, 0, 0, 0.5);

  --text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

  --font-family-basic: 'Arima', sans-serif;
  --font-family-title: 'Bebas Neue', sans-serif;
}

body {
  font-family: var(--font-family-basic);
  text-shadow: var(--text-shadow);
  color: var(--primary-color);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: '';
  position: fixed;
  inset: 0; // use the entire dimensions
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(12px);
  z-index: -1;
}

// Main
.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-bottom: 2rem;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 8rem;
  margin: 0 2rem;
  width: 75vw;
}

.body {
  background-color: var(--black-color--background);
  border-radius: 40px;
  padding: 2rem;
  width: 100%;
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Products */
.body__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.product {
  height: 25rem;
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  &__details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 0.8rem;

    &-name {
      font-family: var(--font-family-title);
      font-size: 2.1rem;
      text-align: left;
    }

    &-reviews {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &-rating {
      transform: translate(-16px) scale(0.75);
      .MuiRating-iconEmpty {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.nothingFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  padding: 2rem;
  line-height: 1.6;
  font-size: 2rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

// Search
.search {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 25rem;
  height: 4rem;
  z-index: 10;

  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: var(--black-color--background);
  overflow: hidden;

  &__button {
    height: 100%;
    border: none;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0;

    .SearchIcon {
      font-size: 3.5rem;
      color: black;
    }
  }

  &-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 1rem;
    background: transparent;

    text-shadow: var(--text-shadow);
    font-family: var(--font-family-basic);
    color: var(--primary-color);
    font-size: 1.1rem;

    &::placeholder {
      color: var(--primary-color);
    }
  }
}

//Search up
.searchUp {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  &__button {
    border: none;
    background: var(--primary-color);
    margin: 0 auto;
    border-radius: 0 0 50px 50px;
    cursor: pointer;

    .SearchIcon {
      font-size: 3.5rem;
      color: black;
    }
  }
}

.productPage {
  max-width: 1100px;
  width: 90vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

  box-shadow: 30px 30px 30px 50px rgba(0, 0, 0, 1);

  &__present {
    width: 100%;
    height: 60vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    box-sizing: border-box;
    padding: 3rem;

    &-name {
      font-family: var(--font-family-title);
      font-size: 5rem;
    }
  }

  &__reviews {
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.4)
    );
    text-align: left;

    &__readWrite {
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}

.ratingCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 10px;
  padding: 1.8rem 0;
  height: 15rem;

  &-avg {
    font-weight: 600;
    color: var(--stars-color);
  }
  &-stars {
    transform: scale(1.5);
    & .MuiRating-iconEmpty {
      color: rgb(70, 70, 70);
    }
  }
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  &__empty {
    padding: 2rem 0;
  }
}

.reviewForm {
  &__flex {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    textarea {
      height: 4rem;
      padding: 1rem;

      color: var(--primary-color);
      font-family: var(--font-family-basic);
      font-size: 1.1rem;

      border-radius: 5px;
      background-color: transparent;
      outline: 1.5px solid var(--primary-color);
      border: 0;
      &:focus {
        transform: scale(1.03);
      }
    }

    &-rating {
      .MuiRating-iconEmpty {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &-error {
      font-size: 1.1rem;
      color: var(--primary-color);
      margin: 0;
    }

    button {
      cursor: pointer;
      height: 2.2rem;
      background-color: var(--primary-color);
      border-radius: 5px;
      outline: 0;
      border: 0;

      font-family: var(--font-family-basic);
      color: var(--secondary-color);
      font-weight: 600;
      font-size: 1.1rem;

      &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
      }
    }
  }
}
//Reviews
.reviewCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 7px;
  padding: 1rem 2rem;
  height: 15rem;

  text-shadow: none;
  font-weight: 500;
  color: var(--primary-color);

  &__item {
    color: var(--primary-color);
    margin-left: auto;
    font-size: 50px;
  }

  &__text {
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
  }

  &__rating {
    &-stars {
      transform: translate(-16px) scale(0.75);
      & .MuiRating-iconEmpty {
        color: rgb(70, 70, 70);
      }
    }
  }

  &__date {
    color: rgb(151, 151, 151);
    font-weight: 500;
    font-size: 1rem;
  }
}

@media (max-width: 1100px) {
  .reviewsList__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .body__products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 810px) {
  .body__products {
    grid-template-columns: repeat(2, 1fr);
  }
  .productPage__reviews__readWrite {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 580px) {
  .body__products {
    grid-template-columns: 1fr;
  }
  .reviewsList__grid {
    grid-template-columns: 1fr;
  }
  .reviewCard {
    height: 10rem;
  }
  .container {
    padding-top: 5rem;
  }
  .search {
    height: 3em;
    width: 19.5rem;
    top: 1rem;
    .SearchIcon {
      font-size: 2.5rem;
    }
  }
}
